<h1>Select a course</h1>

<table id="all_courses" data-href="<%= all_courses_response_path %>">
	<thead>
		<tr>
			<th>Course ID</th>
			<th>Description</th>
			<th>Instructor</th>
		</tr>
	</thead>
	<tbody>

	</tbody>
</table>
<script type="text/javascript">
  // data tables
  $("#all_courses").dataTable({
    "bProcessing": true,
    "sAjaxSource": $("#all_courses").attr("data-href")
  });
</script>