<div class="modal-header">
  <h1 class="modal-title h3">Select a course</h1>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body">
	<table id="all_courses" data-href="<%= all_courses_response_path %>" class="table">
		<thead class="bg-fog">
			<tr>
				<th id="course_id">Course ID</th>
				<th id="description">Description</th>
				<th id="instructor">Instructor</th>
			</tr>
		</thead>
		<tbody>

		</tbody>
	</table>
</div>
<script type="text/javascript">
  new DataTable("#all_courses", {
    processing: true,
    ajax: document.getElementById("all_courses").dataset.href,
    language: {
      emptyTable: "No courses found. You may not be authorized for any courses or the course list has not been released yet."
    }
  });
</script>
