<div class="modal-header">
  <h1 class="modal-title h3">Select a course</h1>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
	<table id="all_courses" data-href="<%= all_courses_response_path %>" class="table">
		<thead class="thead-dark">
			<tr>
				<th id="course_id">Course ID</th>
				<th id="description">Description</th>
				<th id="instructor">Instructor</th>
			</tr>
		</thead>
		<tbody>

		</tbody>
	</table>
</div>
<script type="text/javascript">
  // data tables
  $("#all_courses").dataTable({
    "bProcessing": true,
    "sAjaxSource": $("#all_courses").attr("data-href"),
    "language": {
      "emptyTable": "No courses found. You may not be authorized for any courses or the course list has not been released yet."
    }
  });
</script>
