<div>
	
	<h1>Edit Course Reserve List Request</h1>
	<%= form_for @reserve, :url => { :action => 'update'} do |f| -%>
	
		<%= render "reserves_form" -%>
			
		<input type="submit" value="Send request"> <%= link_to "Cancel [discard changes]" -%>	
		
	<%- end -%>
</div>