<div class="mb-5">
	<%= form_with model: @reserve, method: 'patch', html: { id: "reserve_form" } do |f| -%>
		<%= render :partial => "reserves_form", :locals => {:f => f} -%>
		<%- unless @reserve.disabled -%>
  		<input type="submit" id="save" value="Save draft" class="btn btn-secondary">
  		<%- if @reserve.has_been_sent -%>
  		  <input type="submit" name="send_request" value="Sent <%= @reserve.sent_date %>" class="btn btn-secondary" id="send" disabled>
  		<%- else -%>
    	  <input type="submit" name="send_request" value="Save and SEND request" class="btn btn-secondary" id="send" disabled>
    	<%- end -%>
    	<%= link_to "Cancel [discard changes]", root_url, class: 'btn btn-link' -%>
		<%- end -%>
	<%- end -%>
</div>
<%- # This will check validations on page load if the reserve hasn't been sent.  This is what allows us to keep sent items disabled when until the user changes something in the form.  -%>
<%- if !@reserve.has_been_sent or (@reserve.has_been_sent and @reserve.item_list != @reserve.sent_item_list) -%>
  <script type="text/javascript">
    check_validations();
  </script>
<%- end -%>
