<div>
	
	<h1>Course Reserve List Request</h1>

    <div>
    
			<div>
				<h2>Course ID and Title</h2>
				
				<div><span>Instructor:</span> Some Professor</div>
				<div>Send request to<br/>
					<select>
						<option>(select library)</option>
					</select>
				</div>
				<div>
					When should these items be reserved?<br/>
					<input type="radio" id="immediate"/><label for="immediate">immediately</label><br/>
					<input type="radio" id="future"/>
					<label for="future">for beginning of 
						<select>
							<option>Spring 2012</option>
						</select> 
						quarter
					</label>
				</div>
				
 			</div>

			<fieldset>
				
				<h3>List management</h3>
				
				
	
			</fieldset>
     

    </div>	
	
</div>