<div>
	<%= form_for :reserve, :url =>  { :action => 'create'}, :html => {:id=>"reserve_form"} do |f| -%>
		<%= render :partial => "reserves_form", :locals => { :f => f } -%>
		<input type="submit" id="save" value="Save draft" class="btn btn-cardinal-red">
    <input type="submit" name="send_request" value="Save and SEND request" class="btn btn-cardinal-red" id="send" disabled>
    <%= link_to "Cancel [discard changes]", root_url, class: 'btn btn-link' -%>
	<%- end -%>
</div>
