<div>
	<%= form_for :reserve, :url =>  { :action => 'create'} do |f| -%>
		<%= render :partial => "reserves_form", :locals => { :f => f } -%>
		<input type="submit" value="Send request"> <%= link_to "Cancel [discard changes]" -%>	
	<%- end -%>
</div>