<div class="modal-header">
  <h1 class="modal-title h3"><%= @reserve.course_title %></h1>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body">
  <ul class='clone-reserve-list'>
    <% Terms.all.each do |term| %>
      <% next if term == @reserve.term %>
      <li>
        <% if has_existing_reserve_for_term?(@reserve, term) %>
          <%= term %> (reserve list already exists)
        <% else %>
          <%= link_to(term, clone_reserve_path(@reserve, term: term)) %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
