dist: xenial
rvm:
  - '2.6.3'

addons:
  chrome: stable

notifications:
  email: false

env:
  global:
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true

sudo: false
language: ruby

before_install:
  - gem update --system
  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &
