<nav class="navbar navbar-expand-md bg-dark bg-cardinal" role="navigation">
  <div class="container">
    <a class="mb-0 navbar-brand navbar-logo" href="https://library.stanford.edu" aria-label="Stanford University Libraries"></a>
    <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#user-util-collapse" data-bs-target="#user-util-collapse" aria-controls="user-util-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="d-md-block d-none">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= current_user %> <span>(close browser to logout)</span>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="masthead bg-dark bg-cardinal">
  <div class="container">
    <div class="d-flex flex-wrap align-items-end pt-3 pb-1 pb-md-3 gap-2">
      <div class="d-flex align-items-end gap-2 flex-grow-1">
        <span class="rosette-logo me-1 align-self-start flex-shrink-0" aria-hidden="true"></span>
        <div class="me-1 flex-grow-1">
          <div class="h1 my-0"><a href="/">Course Reserves</a></div>
        </div>
      </div>
    </div>
    <nav class="navbar collapse navbar-collapse"
      aria-label="browse" id="user-util-collapse">
      <ul class="navbar-nav">
        <li class="nav-item d-md-none text-white">
          <%= current_user %> <span>(close browser to logout)</span>
        </li>
      </ul>
    </nav>
  </div>
</div>
