#introduction {
  border-left: 5px solid $su-driftwood;
  padding-left: 1rem;
  max-width: 45em;
}

#all_courses {
  width: 100%;
}

#all_courses #course_id {
	white-space: nowrap;
}
#all_courses #instructor {
	width: 35%;
}
