
#list-management {
  min-width: 354px;
}

th.number {
	width: 2em;
}
th.title {
	width: 45%;
}
th.delete {
	width: 6em;
}

#item_list {
  counter-reset: section;
}

.enumerator {
	font-size: 2rem;
	color: $su-driftwood;

  .counter {
    &::before {
      content: counter(section);
      counter-increment: section;
    }
  }
}

#libraries { width: 35ch; }

.sent_date {
  color: $red;
  font-size: 1.2em;
}

.changed {
  border-left: 2px solid $red;
  border-right: 2px solid $red;
  border-bottom: 2px solid $table-border-color;
}

#sw_url {
  width: 400px;
}

.btn.btn-cardinal-red[disabled] {
  background-color: $su-clay;
  border-color: $su-stone;
  cursor: not-allowed;
  opacity: 1;
}
