// Entry point for your Sass build

@import 'identity/bootstrap-variables';

$table-dark-bg: $su-driftwood;
$table-dark-color: $su-chocolate;
$table-dark-accent-bg: $su-cloud;

@import 'bootstrap/scss/bootstrap';

$sul-footer-bg-color: #f2f1eb;
$sul-footer-border-top-color: #e9e6df;
$footer-height: 200px;
$sul-shadow-color: rgba(0, 0, 0, .2);
$sul-footer-shadow-color: rgba(0, 0, 0, 0.2);
$sul-footer-shadow: 0 4px 8px -8px $sul-footer-shadow-color inset;

@import 'modules/sul_footer';
#header-navbar .navbar-brand {
  font-size: 2.5rem;
}

@import 'modules/request';
@import 'modules/home';
@import 'datatables';
