// Place all the styles related to the reserves controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$cardinal: #990000; 
$odd: #F6F6F6;
$even: #ECECEC;
$data-header: #DDDDDD;

@mixin data-table {
	thead {
		background-color: $data-header;
		border-top: 1px solid #CCCCCC;
	}
	th {
		text-align: left;
		padding: 5px 0;
		font-weight: 700;
	}
	td {
		padding: 15px 10px 15px 0;
		vertical-align: top;
	}
	tr.odd {
		background-color: $odd;
		border-bottom: 1px solid #CCCCCC;
	}
	tr.even {
		background-color: $even;
		border-bottom: 1px solid #DDDDDD;
	}
}

body {
	background: url("/assets/body.png") repeat scroll 0 0 transparent;
	font-family: Lucida Grande,Verdana,Arial,sans-serif;
	font-size: 75%;
	line-height: 1.5em;
}
a {
	color: #575246;
	text-decoration: none;
	border-bottom: 1px dotted #84785A;
}
a:hover, a:active {
	color: #6D1308;
	border-bottom: 1px dotted #6D1308;
}
a.img-link {
	border-bottom: none;
}
a.add-sw-item {
	margin-left: 10px;
}
a.active-button:hover {
  color: #FFFFFF;	
}
#wrapper {
	background: url("/assets/wrapper.png") repeat-x scroll 0 0 transparent;
	text-align: center;
	padding-top: 15px;
}

#container {
	background: url("/assets/top-container.png") repeat-x scroll 0 0 #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  border-top: 1px solid #FFFFFF;
	margin: 0 auto;
	padding: 10px 40px 40px;
	width: 960px;
	text-align: left;
	background-color: #FFFFFF;
}
#header {
	margin-bottom: 20px;
}
#header #links {
	float: right;
}
h1 {
	font-weight: bold;
	font-size: 1.5em;
	margin-bottom: 20px;
}
h2 {
	font-weight: bold;
	font-size: 1.25em;
	margin: 3px 0;
}
h3 {
	font-weight: bold;
	font-size: 1.1em;
}
#introduction p {
	margin-bottom: 20px;
}

#course-details {
	padding: 10px 0 10px;
	margin-bottom: 10px;
}
#main-details {
	float: left;
	width: 62%;
}
#main-details .section {
	margin: 10px 0;
}
p.sent_date {
	color: $cardinal;
	margin-bottom: 5px;
}
label.required:before
{ 
	content:"* ";
	color: #cc0000;
}

#list-management {
	float: right;
}
fieldset#list-management {
	padding: 20px;
	background-color: $odd;
	border: 1px solid #CCCCCC;
}
fieldset#list-management label, fieldset#list-management span.form-label {
	display: inline-block;
	width: 55px;
  text-align: right;
}
fieldset#list-management label#editors-list {
	width: auto;
}
fieldset#list-management input {
	width: 230px;
	margin-bottom: 5px;
}
fieldset#list-management p, fieldset#list-management label#editors-list {
	margin: 15px 0 10px;
}
fieldset#list-management input#editor_sunet_ids {
	margin-bottom: 0;
}
fieldset#list-management span.help {
	margin-left: 60px;
}
#libraries {
	display: block;
	margin-left: 20px;
}
#reserve-timing {
	margin-left: 20px;
}
input {
	margin-left: 0;
}
#item_list_table {
	@include data-table;
	width: 100%;
	margin-bottom: 20px;
}
#all_courses {
	@include data-table;
	width: 100%;
}
#all_courses th {
	cursor: pointer;
}
#all_courses td {
	padding: 7px 5px 7px 0;
}
#all_courses td:first-child, #all_courses th:first-child {
	padding-left: 5px;
}
#all_courses #course_id {
	width: 100px;
}
#all_courses #instructor {
	width: 150px;
}
#my-reserves {
	@include data-table;
}
#my-reserves td {
	padding: 15px 10px;
}
#my-reserves th {
	padding: 5px 10px;
}
#my-reserves th#course_id {
	width: 100px;
}
#my-reserves th#instructor {
	width: 200px;
}
#my-reserves th#clone {
	width: 150px;
}
#reserves-section {
	margin-top: 30px;
}
#introduction {
	margin-bottom: 10px;
}
th.number {
	width: 30px;
}
th.copies {
	width: 200px;
}
th.loan_period {
	width: 125px;
}
th.delete {
	width: 80px;
}
input.num_copies {
  width: 20px;
}
#item_list_table td.enumerator {
	padding-left: 15px;
	font-size: 2em;
	color: #999999;
}
#item_list_table td.last-row {
	color: $data-header;
}
#sw_url {
	width: 400px;
}
.add-comment {
	float:right;
}
.ui-icon-gripsmall-diagonal-se {
	float:right;
}
.changed {
	border-left:2px solid $cardinal;
	border-right: 2px solid $cardinal;
}
.active-button {
	background: -webkit-gradient(linear, left top, left bottom, from(#9D3225), to(#7C1306));
	background: -moz-linear-gradient(center top , #9D3225, #7C1306) repeat scroll 0 0 transparent;
  border: 1px solid #6D1308;
  border-radius: 3px 3px 3px 3px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline;
  height: 28px;
  margin: 0 20px 0 0;
  overflow: visible;
  padding: 4px 8px 5px;
  text-decoration: none;
}
.active-button:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#9D3225), to(#510E06));
	background: -moz-linear-gradient(center top , #9D3225, #510E06) repeat scroll 0 0 transparent;
}
.disabled-button {
	background: -webkit-gradient(linear, left top, left bottom, from(#CCCCCC), to(#DDDDDD));
	background: -moz-linear-gradient(center top , #CCCCCC, #DDDDDD) repeat scroll 0 0 transparent;
  border: 1px solid #999999;
  border-radius: 3px 3px 3px 3px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline;
  height: 28px;
  margin: 0 20px 0 0;
  overflow: visible;
  padding: 4px 8px 5px;
  text-decoration: none;
}

// clone widget
.clone_term {
	position: relative;
}
#reserve_form .clone_term {
	float: left;
}
.clone_widget, .clone_select {
	text-align: right;
	margin-right: 10px;
}
.clone_widget a {
	border: none;
}
.clone_select {
	position: absolute;
	right: 0;
	background-color: $odd;
	border: 1px solid #CCCCCC;
}
.clone_select a:hover {
  background-color: $even;	
}
.clone_select a {
	border: none;
	display:block;
	padding: 0 5px;
}
.clone_dropdown {
	display: inline-block;
	background: url("/assets/dropbutton.png") no-repeat;
	width: 15px;
	cursor: pointer;
}
// data table overrides
#all_courses_length, #all_courses_filter, #all_courses_info, #all_courses_paginate {
	margin: 5px 0;
	width: 48%;
	float: left;
	text-align: left;
}
#all_courses_length, #all_courses_paginate {
  float: right;
  text-align: right;
}
#all_courses_paginate a:hover {
	cursor: pointer;
}
#all_courses_previous {
	margin-right: 15px;
}