@charset "UTF-8";

// Place all the styles related to the reserves controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$cardinal: #8c1515; 
$odd: #fbfbf9;
$even: #f3f2f1;
$data-header: #d0cdc8;
$global-alert-color: rgb(204, 0, 0);

label.disabled {
	color: #888;
}

@mixin data-table {
	table {
		border: 1px solid $data-header;
	}
	thead {
		background-color: $data-header;
		border-top: none;
	}
	th {
		text-align: left;
		padding: 5px 0;
		font-weight: 700;
	}
	td {
		padding: 15px 10px 15px 0;
		vertical-align: top;
	}
	tr.odd {
		background-color: $odd;
		border-bottom: 1px solid #dad7cb;
	}
	tr.even {
		background-color: $even;
		border-bottom: 1px solid #dad7cb;
	}
}


table {border-collapse: collapse; width: 100%;}


body {
	background: none; 
	font-family: 'Source Sans Pro', 'Arial Unicode MS', Helvetica, sans-serif;
	font-size: 95%;
	line-height: 1.6em;
	background-color: #fbfbf9;
}
a, .ui-widget-content a {
	color: #006CB8;
	text-decoration: none;
	border-bottom: none; 
}
a:hover, a:active, .ui-widget-content a:hover, .ui-widget-content a:active {
	color: #00548f;
	text-decoration: underline;
	border-bottom: none;
}
a.img-link {
	border-bottom: none;
}
a.add-sw-item {
	margin-left: 10px;
}
a.active-button:hover {
	color: #ffffff;	
}
#wrapper {
	background: none; 
	text-align: center;
	padding-top: 15px;
}

#container {
	background: none; 
    border-radius: 0;
    border-top: none;
	margin: 0 auto;
	padding: 10px;
	width: 98vw;
	max-width: 1170px;
	text-align: left;
	background-color: #fbfbf9;
}

#header {
	margin-bottom: 20px;
}
#header img {
	height: 35px;
}
#links {
	float: right;
}
#header #links span {
	color: #4d4f53;
}
h1, h2, h3 {
	font-weight: normal;
	color: #544948;
}
h1 {
	font-size: 2.3em;
	margin-bottom: 20px;
	white-space: nowrap;
}
h2 {
	font-size: 1.6em;
	margin: 10px 0;
}
h3 {
	font-size: 1.3em;
}
#introduction {
	border-left: 5px solid #b6b1a9;
	margin-bottom: 40px;
	max-width: 45em;
	margin-left: 3px;
	padding-left: 15px;
}
#introduction h2 {
	font-size: 1.3em;
	margin: 20px 0 0;
}
#introduction p {
	margin: 5px 0 20px 0;
}
#course-details {
	padding: 10px 0 10px;
	margin-bottom: 10px;
}
#main-details {
	float: left;
	max-width: 62%;
}
#main-details .section {
	margin: 10px 0;
	padding: 5px 0;
}
p.sent_date {
	color: $cardinal;
	margin-bottom: 5px;
	font-size: 1.2em;
}
label.required:after { 
	content: 'Required';
	display: inline-block;
	margin-left: 5px;
	background-color: #f0ad4e;
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: bold;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}

#list-management {
	float: right;
}
fieldset#list-management {
	padding: 0 20px 20px;
	background-color: $even;
	border: 1px solid #d0cdc8;
	margin-bottom: 10px;
}
fieldset#list-management label, fieldset#list-management span.form-label {
	display: inline-block;
	width: 4em;
	text-align: right;
}
fieldset#list-management label#editors-list {
	width: auto;
}
fieldset#list-management input {
	width: 230px;
	margin: 0 0 5px 5px;
}
fieldset#list-management p, fieldset#list-management label#editors-list {
	margin: 15px 0 10px;
}
fieldset#list-management input#editor_sunet_ids {
	margin-bottom: 0;
}
fieldset#list-management span.help {
	margin-left: 60px;
}
#libraries {
	display: block;
	margin-left: 20px;
}
#reserve-timing {
	margin-left: 20px;
}
input, textarea, select {
	font-family: 'Source Sans Pro', 'Arial Unicode MS', Helvetica, sans-serif;
	font-size: .95rem;
	padding: 5px;
    border: 1px solid #b6b1a9;
}
#item_list_table {
	@include data-table;
	width: 100%;
	margin-bottom: 20px;
}
#item_list_table p {
	margin: 0 0 5px 0;
}
#item_list_table td p:first-child {
	font-size: 1.2em;
}fieldset#list-management
#all_courses {
	@include data-table;
	width: 100%;
}
#all_courses th {
	cursor: pointer;
}
#all_courses td {
	padding: 7px 5px 7px 0;
}
#all_courses td:first-child, #all_courses th:first-child {
	padding-left: 5px;
}
#all_courses #course_id {
	width: 15%;
}
#all_courses #instructor {
	width: 35%;
}
#my-reserves {
	@include data-table;
}
#my-reserves td {
	padding: 15px 10px;
}
#my-reserves th {
	padding: 5px 10px;
}
#my-reserves th#course_id {
	width: 100px;
}
#my-reserves th#instructor {
	width: 200px;
}
#my-reserves th#clone {
	width: auto;
}
#reserves-section {
	margin-top: 30px;
}

#reserves-section .copy-link {
  margin-left: 25px;
}

#reserves-section th#actions {
  min-width: 110px; // Ensure edit/copy links do not wrap
}

th.number {
	width: 2em;
}
th.title {
	width: 45%;
}
th.copies {
	width: 25%;
}
th.loan_period {
	width: 20%;
}
th.delete {
	width: 6em;
}
th.sorting_asc:before {
	content: "\2193";
	padding-right: 5px;
}
th.sorting_desc:before {
	content: "\2191";
	padding-right: 5px;
}
input.num_copies {
  width: 20px;
}
#item_list_table td.enumerator {
	padding-left: 15px;
	font-size: 2em;
	color: #b6b1a9;
}
#item_list_table td.last-row {
	color: $data-header;
}
#sw_url {
	width: 400px;
}
.add-comment {
	float:left;
	font-size: .95em;
}
.ui-icon-gripsmall-diagonal-se {
	float:right;
}
.changed {
	border-left:2px solid $cardinal;
	border-right: 2px solid $cardinal;
}
.active-button {
	background: #8c1515;
	filter: none; 
	border: 1px solid #820000;
	border-radius: 3px 3px 3px 3px;
	color: #FFFFFF;
	cursor: pointer;
	display: inline;
	height: auto;
	margin: 0 20px 0 0;
	overflow: visible;
	padding: 4px 8px 5px;
	text-decoration: none;
}
.active-button:hover {
	background: #690000;
	filter: none;
}
.disabled-button {
	background: #5f574f;
	filter: none;
	border: 1px solid #544948;
	border-radius: 3px 3px 3px 3px;
	color: #FFFFFF;
	cursor: pointer;
	display: inline;
	height: auto;
	margin: 0 20px 0 0;
	overflow: visible;
	padding: 4px 8px 5px;
	text-decoration: none;
}
a.disabled-button {
	border-bottom: none;
	border-radius: 3px 3px 3px 3px;
}
a.disabled-button:hover {
	color: #FFFFFF;
	border-bottom: none;
	border-radius: 3px 3px 3px 3px;
}

/* flash error */
.error {
	background-color:#fcf8e3;
	border: 1px solid #faebcc;
	border-radius: 4px;	
	color:#B1040E;
	font-size: 1em;
	margin: 10px 0;
	padding: 15px;
}

/* Copy/Clone reserves list */
ul.clone-reserve-list {
  list-style-type: disc;
  margin-left: 20px;
}

#all_courses_length, #all_courses_filter, #all_courses_info, #all_courses_paginate {
	margin: 5px 0;
	width: 48%;
	float: left;
	text-align: left;
}
#all_courses_length, #all_courses_paginate {
  float: right;
  text-align: right;
}
#all_courses_paginate a:hover {
	cursor: pointer;
}
#all_courses_previous {
	margin-right: 15px;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.global-alert {
  border: 1px solid $global-alert-color;
  margin: 10px 0;
  padding: 10px;

  b { font-weight: bold; }
}
